textarea.bk-input(
    ng-class="{'validated': vc.required}"
    ng-change="vc.changeModel();"
    id="{{ vc.id }}"
    placeholder="{{ vc.placeholder }}"
    ng-model="vc.viewModel"
    ng-required="vc.required"
    )