md-dialog(aria-label="Info")

    md-toolbar
        .md-toolbar-tools
            h2 Change password
            span(flex)
            icon-close.m-close(ng-click="vc.cancel()")

    md-dialog-content
        .md-dialog-content.password-dialog(style="width: 400px;")
            div(layout="row")
                .flex-in(flex="30" layout="row" layout-align="start center") Old password
                .flex-in(flex)
                    input.form-control(
                    placeholder="Old password"
                    type="password"
                    ng-model="vc.data.old_password"
                    )
            div(layout="row")
                .flex-in(flex="30" layout="row" layout-align="start center") New password
                .flex-in(flex)
                    input.form-control(
                    placeholder="New password"
                    type="password"
                    ng-model="vc.data.new_password"
                    )
            div(layout="row")
                .flex-in(flex="30" layout="row" layout-align="start center") Once again
                .flex-in(flex)
                    input.form-control(
                    placeholder="New password"
                    type="password"
                    ng-model="vc.again"
                    )

    md-dialog-actions(layout="row")
        md-button(ng-click="vc.cancel()") Cancel
        md-button(
        ng-click="vc.confirm()"
        ng-disabled="!vc.data.old_password || !vc.data.new_password || vc.data.new_password != vc.again || vc.data.new_password.length < 6"
        ) Update
