md-dialog(aria-label="Info")

    md-toolbar(flex="none")
        .md-toolbar-tools
            h2(ng-if="!vc.data._id") Create project
            h2(ng-if="vc.data._id") Edit project
            span(flex)
            icon-close.m-close(ng-click="vc.cancel()")

    md-dialog-content.password-dialog
        form.md-dialog-content.full-height(name="prjctform")

            div(layout="row")
                .flex-in(flex="25" flex-gt-sm="20" layout="row" layout-align="start center") Name of project
                .flex-in(flex)
                    input.bk-input(
                    ng-class="{'error': prjctform.name.$invalid && prjctform.name.$touched && prjctform.name.$dirty}"
                    placeholder="Name"
                    type="text"
                    ng-model="vc.data.title"
                    name="name"
                    required
                    )

    md-dialog-actions(layout="row")
        md-button(ng-click="vc.cancel()") Cancel
        md-button(ng-click="vc.confirm()" ng-disabled="prjctform.$invalid") {{ vc.data._id ? 'UPDATE' : 'SAVE' }}
