.project-select-component-wrap(ng-if="vc.user.role !== 'guest'")
    .project-select-component-icon(icon-folder)
    md-select.bk-select.transparent(
        ng-disabled="vc.user.role === 'guest'"
        ng-change="vc.onChange()"
        ng-model="vc.model"
        placeholder="N/A"
        ng-class="{ 'hide-arr': vc.hideArr }"
        )
        md-option(
            ng-value="item.title"
            ng-repeat="item in vc.projects"
            ) {{ item.title }}