.content-head(ng-class="{'fixed md-whiteframe-2dp': dbc.fixTop}")
    .main-title
        span(ng-if="dbc.currentUser.role === 'guest'") My candidates
        md-menu(ng-if="dbc.currentUser.role !== 'guest'")
            span.title-menu-arr(ng-click="dbc.openMenu($mdMenu, $event)") {{ dbc.archive ? 'Archive' : 'My candidates' }}
            md-menu-content
                md-menu-item
                    md-button.title-menu-item(ng-click="dbc.goToDashboard()") My candidates
                md-menu-item
                    md-button.title-menu-item(ng-click="dbc.goToArchive()") Archive

    current-user
    resume-filter(
        ng-if="!dbc.archive"
        states="dbc.states"
        projects="dbc.projects"
        priorities="dbc.priorities"
        skills="dbc.skills"
        user="dbc.currentUser"
        levels="dbc.englishLevels"
        )

.content-body(id="content-scroll")
    .main-table-wrap
        table.main-table
            thead
                tr
                    th.al.col-candidate(
                        ng-click="dbc.tableSort('last_name')"
                        ng-class="{\
                            'st-sort-ascent': dbc.sortData.direction == 'asc' && dbc.sortData.sortName == 'last_name',\
                            'st-sort-descent': dbc.sortData.direction == 'desc' && dbc.sortData.sortName == 'last_name'\
                            }"
                        ) Candidate
                    th.al.col-state(
                        ng-click="dbc.tableSort('state')"
                        ng-class="{\
                            'st-sort-ascent': dbc.sortData.direction == 'asc' && dbc.sortData.sortName == 'state',\
                            'st-sort-descent': dbc.sortData.direction == 'desc' && dbc.sortData.sortName == 'state'\
                            }"
                        ) State
                    th.al.col-hr(
                        ng-click="dbc.tableSort('hrInterviewDate')"
                        ng-class="{\
                            'st-sort-ascent': dbc.sortData.direction == 'asc' && dbc.sortData.sortName == 'hrInterviewDate',\
                            'st-sort-descent': dbc.sortData.direction == 'desc' && dbc.sortData.sortName == 'hrInterviewDate'\
                            }"
                        ) HR Interview
                    th.al.col-dev(
                        ng-click="dbc.tableSort('devInterviewDate')"
                        ng-class="{\
                            'st-sort-ascent': dbc.sortData.direction == 'asc' && dbc.sortData.sortName == 'devInterviewDate',\
                            'st-sort-descent': dbc.sortData.direction == 'desc' && dbc.sortData.sortName == 'devInterviewDate'\
                            }"
                        ) Dev Interview
                    th.al.col-customer(
                        ng-click="dbc.tableSort('customerInterviewDate')"
                        ng-class="{\
                            'st-sort-ascent': dbc.sortData.direction == 'asc' && dbc.sortData.sortName == 'customerInterviewDate',\
                            'st-sort-descent': dbc.sortData.direction == 'desc' && dbc.sortData.sortName == 'customerInterviewDate'\
                            }"
                        ) Customer Interview
                    th.al.col-notes(
                        ng-if="['admin', 'hr', 'lead'].indexOf(dbc.currentUser.role) !== -1"
                        ) Note
            tbody
                tr(ng-repeat="item in dbc.resumeList track by $index")
                    td
                        profile-cell(
                            user="dbc.currentUser"
                            candidate="item"
                            priorities="dbc.priorities"
                            levels="dbc.englishLevels"
                            projects="dbc.projects"
                            )
                    td
                        state-select(
                            user="dbc.currentUser"
                            states="dbc.states"
                            model="item.state"
                            reason="item.rejectionReason"
                            hide-arr="true"
                            resume-id="item._id"
                            event-name="'CANDIDATE_STATE_CHANGED'"
                            )
                    td
                        interview-select(
                            model="item.hrInterviewEstimate"
                            date="item.hrInterviewDate"
                            user="dbc.currentUser"
                            hide-arr="true"
                            resume-id="item._id"
                            event-name="'HR_INTERVIEW_CHANGED'"
                            )
                    td
                        interview-select(
                            model="item.devInterviewEstimate"
                            date="item.devInterviewDate"
                            user="dbc.currentUser"
                            hide-arr="true"
                            resume-id="item._id"
                            event-name="'DEV_INTERVIEW_CHANGED'"
                            )
                    td
                        interview-select(
                            model="item.customerInterviewEstimate"
                            date="item.customerInterviewDate"
                            user="dbc.currentUser"
                            hide-arr="true"
                            resume-id="item._id"
                            event-name="'CUSTOMER_INTERVIEW_CHANGED'"
                            )
                    td(ng-if="['admin', 'hr', 'lead'].indexOf(dbc.currentUser.role) !== -1")
                        span(ng-click="dbc.showEditNotesModal($event, item)" ng-if="dbc.currentUser.role !== 'guest'")
                            .main-table-notes(ng-if="item.notes") {{ item.notes }}
                            .word-but(ng-if="!item.notes") ADD NOTES

    .resume-table__pagination
        pagination(limit="dbc.limit" total="dbc.total")