.page

    .sp-head
        .sp-head__title Reset password
        .sp-head__body Please set up your new password, make it not less than 6 characters
        //.flex-in.sp-head__disc The password must be at least 3 characters in length

    div(layout="row")
        div(flex="none" layout="row" layout-align="left center")
            .flex-in.reg-label Password
        div(flex="50")
            .flex-in
                input.bk-input(
                type="password"
                ng-model="vc.data.password"
                )

    div(layout="row")
        div(flex="none" layout="row" layout-align="left center")
            .flex-in.reg-label Confirm password
        div(flex="50")
            .flex-in
                input.bk-input(
                type="password"
                ng-model="vc.repeat"
                )

    div.reg-buttons-wrap
        md-button.m-button(
            ng-disabled="!vc.data.password && !vc.repeat || vc.data.password != vc.repeat || vc.data.password.length <= 5"
            ng-click="vc.apply()"
            ) Apply
        //button.btn-disabled(ng-if="!vc.data.password && !vc.repeat || vc.data.password != vc.repeat || vc.data.password.length <= 5") Apply
        //button.btn.btn-primary(
        //ng-if="vc.data.password == vc.repeat && vc.data.password.length > 5"
        //ng-click="vc.apply()"
        //) Apply