div.int-guest-wrap(ng-if="vc.user && vc.user.role === 'guest'")
    .interview-passed(ng-if="vc.model === 'Yes'") Passed
    .interview-failed(ng-if="vc.model === 'No'") Failed
    .interview-scheduled(ng-if="vc.model === 'Scheduled'") Scheduled
    .interview-na(ng-if="!vc.model") N/A
.interview-select-date.nh(ng-if="vc.user && vc.user.role === 'guest' && vc.model === 'Scheduled' && vc.date")
    span.interview-calendar-icon(icon-calendar)
    span {{ vc.date | date: 'dd/MM/yyyy' }}

ng-container(ng-if="vc.user && vc.user.role !== 'guest' || !vc.user")
    md-select.bk-select.transparent(
        ng-change="vc.onChange()"
        ng-class="{'grey bg-grey': !vc.model, 'green bg-green': vc.model === 'Yes', 'red bg-red': vc.model === 'No', 'blue bg-blue': vc.model === 'Scheduled', 'hide-arr': vc.hideArr}"
        ng-model="vc.model" placeholder="N/A"
        )
        md-option.grey(ng-value="''") N/A
        md-option(
            ng-class="{'green': item.value === 'Yes', 'red': item.value === 'No', 'blue': item.value === 'Scheduled'}"
            ng-value="item.value"
            ng-repeat="item in vc.estimates"
            ) {{ item.title }}

    div.interview-select-date(ng-click="vc.isOpen = true" ng-if="vc.date")
        span.interview-calendar-icon(icon-calendar)
        span {{ vc.date | date: 'dd/MM/yyyy' }}

    div.interview-select-date(ng-click="vc.isOpen = true" ng-if="!vc.date && vc.model === 'Scheduled'")
        span.word-but.word-but_small(style="text-transform: none;") Add date

    div(style="width: 0; height: 0; overflow: hidden;")
        md-datepicker(ng-model="vc.date" md-is-open="vc.isOpen" ng-change="vc.onDateChange()")