.bg-blur
	.state-wrap
		.page-name About

		div.about-main(layout="row")

			div(flex="50")
				img.about-main__image.md-whiteframe-2dp(src="/images/about.jpg" alt="")

			div(flex)
				.about-main__info 
					.about-main__info__head Hi, my name is Aleksey Kovalchuk. I am web developer with 5+ years experience based in Russia, Saint-Petersburg. I specialise in frontend development and web design. I develop web applications, ecommerce and websites. In my spare time I like to drink vodka, play the balalaika and culture bears.

					.about-main__info__buttons
						//md-menu
							md-button.i-but.md-whiteframe-2dp(ng-click="$mdOpenMenu($event)")
								span download resume
							md-menu-content
								md-menu-item
									md-button(href="/files/A_kovalchuk_rus.jpg" target="_blank" ng-click="$mdMenu.hide()") Russian
								md-menu-item
									md-button(href="/files/A_kovalchuk_eng.jpg" target="_blank" ng-click="$mdMenu.hide()") English
						
						md-button.i-but.md-whiteframe-2dp(ui-sref="root.contacts")
							//- .i-but__icon.i-but__icon_mail(icon-mail)
							span contact me

						a.soc-icon-wrap(href="https://vk.com/m_wild" target="_blank")
							.soc-icon.md-whiteframe-2dp(icon-vk)
						a.soc-icon-wrap(href="https://www.instagram.com/aleksey_kovalchuk/" target="_blank")
							.soc-icon.md-whiteframe-2dp(icon-instagram)
						a.soc-icon-wrap(href="https://www.linkedin.com/in/alnkow" target="_blank")
							.soc-icon.md-whiteframe-2dp(icon-linkedin)

					.text-block.text-block_last
						.text-block__title.text-block__title_dist Professional Skills
						.text-block__desc.text-block__desc_dist
							span(ng-repeat="item in vc.skills.develope")
								span(ng-bind="item + ' '")
								span(ng-if="!$last") / 
						.text-block__desc.text-block__desc_dist
							span(ng-repeat="item in vc.skills.cms")
								span(ng-bind="item + ' '")
								span(ng-if="!$last") /
						.text-block__desc
							span(ng-repeat="item in vc.skills.design")
								span(ng-bind="item + ' '")
								span(ng-if="!$last") /

					.text-block
						.text-block__title.text-block__title_dist Work experience
						.job-block(layout="row" ng-repeat="item in vc.experience")
							div(flex="30")
								div {{ item.date }}
							div(flex="70")
								div.job-block__name {{ item.name }}
								div {{ item.unit }}
								a.project-link(
									href="{{ item.link.go }}" 
									target="_blank"
									ng-if="item.link"
									) {{ item.link.title }}

					.text-block
						.text-block__title.text-block__title_dist Education
						.job-block(layout="row" ng-repeat="item in vc.education")
							div(flex="30")
								div {{ item.date }}
							div(flex="70")
								div.job-block__name {{ item.name }}
								div {{ item.unit }}
								a.project-link(
									href="{{ item.link.go }}" 
									target="_blank"
									ng-if="item.link"
									) {{ item.link.title }}
