.resume-wrap.md-whiteframe-4dp(ng-if="vc.resume")

    // ======= HEAD =============================================
    div(layout="row" layout-align="center center")
        div(flex="30" layout="row" layout-align="center center")
            .resume-image-wrap(ng-if="vc.user.role === 'guest'")
                .resume-image(style="background-image: url('/images/empty_photo.svg');")
            .resume-image-wrap(ng-if="vc.user.role === 'admin' || vc.user.role === 'hr' || vc.user.role === 'lead'")
                .upload-but-wrap
                    .resume-image(style="background-image: url({{ vc.resume.photo.medium || '/images/empty_photo.svg' }});")
                    button.user-photo-upload-but(
                        type="file"
                        ngf-select="vc.uploadFile($file, $invalidFiles)"
                        accept="image/*"
                        ngf-max-size="1MB"
                        ) Select File
        div(flex="70")
            .resume-main-info
                // Full name
                .bkr-name(ng-if="!vc.edit") {{ (vc.resume.last_name || '') + ' ' + (vc.resume.first_name || '') + ' ' + (vc.resume.middle_name || '') }}
                div(layout="row" ng-if="vc.edit")
                    .flex-in(flex="33")
                        input.form-control(type="text" ng-model="vc.resume.last_name" placeholder="Last name")
                    .flex-in(flex="33")
                        input.form-control(type="text" ng-model="vc.resume.first_name" placeholder="First name")
                    .flex-in(flex="33")
                        input.form-control(type="text" ng-model="vc.resume.middle_name" placeholder="Middle name")
                // Details
                .bkr-details(ng-if="!vc.edit")
                    span(ng-if="vc.resume.gender.name") Gender: {{ vc.resume.gender.name }}
                    span(ng-if="vc.resume.gender.name") ,&ensp;
                    span(ng-if="vc.resume.age") {{vc.resume.age}} years
                    span(ng-if="vc.resume.age && vc.resume.birth_date") ,&ensp;
                    span(ng-if="vc.resume.birth_date") born on {{vc.resume.birth_date | date: "dd MMMM yyyy"}}
                // Title
                .bkr-position(ng-if="!vc.edit")
                    span.position {{vc.resume.title}}
                div(layout="row" ng-if="vc.edit")
                    .flex-in(flex="100")
                        input.form-control(type="text" ng-model="vc.resume.title" placeholder="Position")
                // Contacts
                .bkr-contacts(
                    ng-if="!vc.edit && (vc.user.role == 'admin' || vc.user.role == 'hr' || vc.user.role == 'lead')"
                    )
                    .contact-block(ng-if="vc.resume.location.city")
                        .contact-block__icon(icon-location)
                        .contact-block__title {{vc.resume.location.city}}
                    a.contact-block.clickable(ng-if="vc.resume.contact.phone" href="callto:{{ vc.resume.contact.phone | cleanPhoneNumber }}")
                        .contact-block__icon(icon-phone)
                        .contact-block__title {{vc.resume.contact.phone}}
                    a.contact-block.clickable(
                    ng-if="vc.resume.contact.email"
                    href="mailto:{{vc.resume.contact.email}}"
                    )
                        .contact-block__icon(icon-mail)
                        .contact-block__title {{vc.resume.contact.email}}
                    a.contact-block.clickable(
                    ng-if="vc.resume.site.skype"
                    href="skype:{{vc.resume.site.skype}}?call"
                    )
                        .contact-block__icon(icon-skype)
                        .contact-block__title {{ vc.resume.site.skype }}
                    a.contact-block.clickable(
                    ng-if="vc.resume.site.linkedin"
                    href="{{ vc.resume.site.linkedin }}"
                    target="_blank"
                    )
                        .contact-block__icon(icon-linkedin)
                        .contact-block__title {{ vc.resume.site.linkedin }}
                    a.contact-block.clickable(
                    ng-if="vc.resume.site.github"
                    href="{{ vc.resume.site.github }}"
                    target="_blank"
                    )
                        .contact-block__icon(icon-git)
                        .contact-block__title {{ vc.resume.site.github }}
                    a.contact-block.clickable(
                    ng-if="item.url"
                    ng-repeat="item in vc.resume.site.others"
                    href="{{ item.url }}"
                    target="_blank"
                    )
                        .contact-block__icon(icon-earth)
                        .contact-block__title {{ item.url }}

                div(
                layout="row"
                ng-if="vc.edit && (vc.user.role == 'admin' || vc.user.role == 'hr' || vc.user.role == 'lead')"
                )
                    div(flex="33")
                        .flex-in
                            input.form-control(type="text" ng-model="vc.resume.location.city" placeholder="City")
                    div(flex="33")
                        .flex-in
                            input.form-control(type="text" ng-model="vc.resume.contact.phone" placeholder="Phone number")
                    div(flex="33")
                        .flex-in
                            input.form-control(type="email" ng-model="vc.resume.contact.email" placeholder="Email")

                // Salary
                .bkr-salary(ng-if="(vc.user.role == 'admin' || vc.user.role == 'hr') && !vc.edit && vc.resume.salary")
                    span.bkr-salary__title Salary:
                    span.bkr-salary__amount {{vc.resume.salary.amount}}
                    span.bkr-salary__currency {{vc.resume.salary.currency}}
                div(ng-if="vc.user.role == 'admin' && vc.edit" layout="row")
                    .flex-in(flex="60")
                        input.form-control(type="text" ng-model="vc.resume.salary.amount" placeholder="Salary")
                    .flex-in(flex="40")
                        md-select.bk-select(ng-model="vc.resume.salary.currency" placeholder="Select currency")
                            md-option(value="{{ item }}" ng-repeat="item in vc.currencyList") {{ item }}

    // ======= eof HEAD =========================================
    .resume-details-wrap
        table.resume-details
            thead
                tr
                    th(style="width: 30%")
                    th(style="width: 70%")
            tbody
                // Languages
                tr.title(ng-if="vc.resume.language && vc.resume.language.length")
                    td.rd-title Languages
                    td
                tr(
                    ng-if="vc.resume.language && vc.resume.language.length"
                    ng-repeat="lang in vc.resume.language" ng-class="{'info': !$last}"
                    )
                    td.rd-title {{ lang.name }}
                    td
                        block-edit(model="lang.level" toggle="vc.edit" placeholder="'Level'")

                // Work experience
                tr.title(ng-if="vc.resume.experience && vc.resume.experience.length")
                    td.rd-title Work experience
                    td.rd-desc
                        span(ng-if="vc.resume.total_experience.months") {{ calculateExp(vc.resume.total_experience.months) }}
                tr(
                ng-if="vc.resume.experience && vc.resume.experience.length"
                ng-repeat="comp in vc.resume.experience track by $index"
                ng-class="{'info': !$last}"
                )
                    td.rd-title
                        span {{comp.start | date: 'MMMM yyyy'}}
                        span &ensp;-&ensp;
                        span(ng-if="!comp.end") this year
                        span(ng-if="comp.end") {{comp.end | date: 'MMMM yyyy'}}
                    td
                        div.rd-title.rd-block
                            block-edit(model="comp.company" toggle="vc.edit" placeholder="'Company name'")
                        div.rd-block(ng-if="comp.area && !vc.edit") {{comp.area.name}}, {{comp.company_url}}
                        div.row-pos(layout="row" ng-if="vc.edit")
                            .flex-in(flex="50")
                                input.form-control(type="text" ng-model="comp.area.name" placeholder="Name")
                            .flex-in(flex="50")
                                input.form-control(type="text" ng-model="comp.company_url" placeholder="Url")
                        div.rd-block
                            span.rd-title Position:&ensp;
                            //span {{comp.position}}
                            block-edit(model="comp.position" toggle="vc.edit" placeholder="'Position'")
                        div.rd-title Responsibilities:
                        block-edit(model="comp.description" toggle="vc.edit" placeholder="'Position'" type="'textarea'")

                // Key skills
                tr.title
                    td.rd-title Key skills
                    td
                tr
                    td.rd-select-multiple(colspan="2")
                        .rd-skill(ng-repeat="item in vc.resume.skill_set" ng-if="!vc.edit") {{ item }}
                        md-chips(
                            ng-if="vc.edit"
                            ng-model="vc.resume.skill_set"
                            md-autocomplete-snap
                            )
                            md-autocomplete(
                                md-selected-item="vc.selectedItem"
                                md-search-text="vc.searchText"
                                md-items="item in vc.querySearch(vc.searchText)"
                                md-item-text="item"
                                placeholder="Search for a skills"
                                )
                                span(md-highlight-text="vc.searchText") {{item}}

                // Education primary
                tr.title(ng-if="vc.resume.education.primary && vc.resume.education.primary.length")
                    td.rd-title Education primary
                    td.rd-desc {{vc.resume.education.level.name}}
                tr(
                ng-if="vc.resume.education.primary && vc.resume.education.primary.length"
                ng-repeat="ed in vc.resume.education.primary" ng-class="{'info': !$last}"
                )
                    td.rd-title
                        span {{ed.year}}
                    td
                        .rd-title.rd-block
                            block-edit(model="ed.name" toggle="vc.edit" placeholder="'Organization'")
                        block-edit(model="ed.organization" toggle="vc.edit" placeholder="'Details'")

                // Education attestation
                tr.title(ng-if="vc.resume.education.attestation && vc.resume.education.attestation.length")
                    td.rd-title Education attestation
                    td
                tr(
                ng-if="vc.resume.education.attestation && vc.resume.education.attestation.length"
                ng-repeat="ed in vc.resume.education.attestation" ng-class="{'info': !$last}"
                )
                    td.rd-title
                        span {{ed.year}}
                    td
                        .rd-title.rd-block
                            block-edit(model="ed.name" toggle="vc.edit" placeholder="'Organization'")
                        block-edit(model="ed.organization" toggle="vc.edit" placeholder="'Details'")

                // Education additional
                tr.title(ng-if="vc.resume.education.additional && vc.resume.education.additional.length")
                    td.rd-title Education additional
                    td
                tr(
                ng-if="vc.resume.education.additional && vc.resume.education.additional.length"
                ng-repeat="ed in vc.resume.education.additional" ng-class="{'info': !$last}"
                )
                    td.rd-title
                        span {{ed.year}}
                    td
                        .rd-title.rd-block
                            block-edit(model="ed.name" toggle="vc.edit" placeholder="'Organization'")
                        block-edit(model="ed.organization" toggle="vc.edit" placeholder="'Details'")

                // Education elementary
                tr.title(ng-if="vc.resume.education.elementary && vc.resume.education.elementary.length")
                    td.rd-title Education elementary
                    td
                tr(
                ng-if="vc.resume.education.elementary && vc.resume.education.elementary.length"
                ng-repeat="ed in vc.resume.education.elementary" ng-class="{'info': !$last}"
                )
                    td.rd-title
                        span {{ed.year}}
                    td
                        .rd-title.rd-block
                            block-edit(model="ed.name" toggle="vc.edit" placeholder="'Organization'")
                        block-edit(model="ed.organization" toggle="vc.edit" placeholder="'Details'")

                // Certificates
                tr.title(ng-if="vc.resume.certificate && vc.resume.certificate.length")
                    td.rd-title Certificates
                    td
                tr(
                ng-if="vc.resume.certificate && vc.resume.certificate.length"
                ng-repeat="cert in vc.resume.certificate" ng-class="{'info': !$last}"
                )
                    td.rd-title {{cert.achieved_at}}
                    td.rd-title
                        block-edit(model="cert.title" toggle="vc.edit" placeholder="'Certificate'")

                // About
                tr.title(ng-if="vc.resume.about")
                    td.rd-title About
                    td
                tr(ng-if="vc.resume.about")
                    td(colspan="2" style="border-bottom: none;")
                        block-edit(model="vc.resume.about" toggle="vc.edit" placeholder="'About'" type="'textarea'")