md-dialog(aria-label="Info")

    md-toolbar
        .md-toolbar-tools
            h2(ng-if="!vc.data._id") Add technology
            h2(ng-if="vc.data._id") Edit technology {{vc.data.title}}
            span(flex)
            icon-close.m-close(ng-click="vc.cancel()")

    md-dialog-content
        .md-dialog-content.password-dialog

            div(layout="row")
                .flex-in(flex="30" layout="row" layout-align="start center") Skill title
                .flex-in(flex)
                    input.form-control(
                    placeholder="Title"
                    type="text"
                    ng-model="vc.data.title"
                    )
            div(layout="row")
                .flex-in(flex="30" layout="row" layout-align="start center") Includes
                .flex-in(flex)
                    md-chips(
                    ng-model="vc.data.aliases"
                    placeholder="Add alias"
                    delete-button-label="Remove alias"
                    secondary-placeholder="+ alias"
                    )
            div(layout="row")
                .flex-in(flex="30" layout="row" layout-align="start center") Excludes
                .flex-in(flex)
                    //md-chips(ng-model="vc.data.exceptions" readonly="false" md-removable="true")
                    md-chips(
                    ng-model="vc.data.exceptions"
                    placeholder="Add exception"
                    delete-button-label="Remove exception"
                    secondary-placeholder="+ exception"
                    )

    md-dialog-actions(layout="row")
        md-button(ng-click="vc.cancel()") Cancel
        md-button(ng-click="vc.confirm()" ng-disabled="!vc.data.title") {{ vc.data._id ? 'UPDATE' : 'SAVE' }}
