span(ng-if="!vc.toggle" ng-class="{'be-prewrap': vc.type == 'textarea'}") {{ vc.model }}

input.bk-input(
    ng-if="vc.toggle && vc.type == 'text'"
    type="text"
    ng-model="vc.model"
    placeholder="{{vc.placeholder}}"
    )

textarea.bk-input(
    ng-if="vc.toggle && vc.type == 'textarea'"
    ng-model="vc.model"
    placeholder="{{vc.placeholder}}"
    )