div(style="overflow: auto; width: 100%;")
    int-head(
    candidate="vc.candidate"
    user="vc.currentUser"
    toggle="vc.edit"
    card="vc.card"
    users="vc.users"
    )

    .int-tabs
        dev-tabs(candidate="vc.candidate")

    int-row-head(title="'Conclusion'")
    int-row-text(
    title="'Functional skills summary (comments, risks)'"
    model="vc.card.funSkills"
    toggle="vc.edit"
    placeholder="'Comments'"
    )
    int-row-text(
    title="'Technical English'"
    model="vc.card.techEnglish"
    toggle="vc.edit"
    placeholder="'Level'"
    )
    //int-row-text(
            title="'Recommendations to candidate for improvements'"
            model="vc.card.recommendations"
            toggle="vc.edit"
            placeholder="'Recommendations'"
            )

    // - Qualification
    .t-row.t-row_head(layout="row")
        .t-row-in(flex="30" layout="row" layout-align="start center") Qualification
        .t-row-in(flex="35" layout="row" layout-align="center center") Level
        .t-row-in(flex="35" layout="row" layout-align="center center") Sublevel
    // - Set level estimate
    .t-row.t-row_three(layout="row")
        .t-row-in(flex="30" layout="row" layout-align="start center") Set level estimate
        .t-row-in(flex="35" layout="row" layout-align="start center")
            span(ng-if="!vc.edit") {{ vc.card.level.level }}
            md-select.bk-select(ng-if="vc.edit" ng-model="vc.card.level" placeholder="Select level")
                md-option(value="{{ item._id }}" ng-repeat="item in vc.collections.levels") {{ item.level }}
        .t-row-in(flex="35" layout="row" layout-align="start center")
            span(ng-if="!vc.edit") {{ vc.card.subLevel.subLevel }}
            md-select.bk-select(ng-if="vc.edit" ng-model="vc.card.subLevel" placeholder="Select sublevel")
                md-option(value="{{ item._id }}" ng-repeat="item in vc.collections.subLevels") {{ item.subLevel }}
    // - Set your recommendation (hire / not hire)
    .t-row(layout="row")
        .t-row-in(flex="30" layout="row" layout-align="start center") Set your recommendation (hire / not hire)
        .t-row-in(flex layout="row" layout-align="start center")
            span(ng-if="!vc.edit") {{ vc.card.recommended }}
            md-select.bk-select(ng-if="vc.edit" ng-model="vc.card.recommended" placeholder="Select level")
                md-option(value="{{ item }}" ng-repeat="item in vc.collections.yesNo") {{ item }}

    int-row-text(title="'Expert Summary (Comments)'" model="vc.card.summary" toggle="vc.edit" placeholder="'Comments'")

    .f-buttons-wrap(layout="row" layout-align="end center")
        button.btn.btn-primary.m-btn(ng-if="vc.edit" ng-click="vc.saveCard();") SAVE


