md-dialog.largescreen-dialog(aria-label="Info")

    div.full-height(layout="column")
        md-toolbar(flex="none")
            .md-toolbar-tools
                h2(ng-if="!vc.data._id") Create mail template
                h2(ng-if="vc.data._id") Edit email template
                span(flex)
                icon-close.m-close(ng-click="vc.cancel()")

        md-dialog-content(flex)
            form.md-dialog-content.full-height(layout="column" name="tmpform")

                div(flex="none" layout="row")
                    .flex-in(flex="25" flex-gt-sm="20" layout="row" layout-align="start center") Name of template
                    .flex-in(flex)
                        input.bk-input(
                            ng-class="{'error': tmpform.name.$invalid && tmpform.name.$touched && tmpform.name.$dirty}"
                            placeholder="Name"
                            type="text"
                            ng-model="vc.data.title"
                            name="name"
                            required
                            )

                div(flex="none" layout="row")
                    .flex-in(flex="25" flex-gt-sm="20" layout="row" layout-align="start center") Subject
                    .flex-in(flex)
                        input.bk-input(
                        ng-class="{'error': tmpform.subject.$invalid && tmpform.subject.$touched && tmpform.subject.$dirty}"
                        id="tmpSubject"
                        placeholder="Subject"
                        type="text"
                        ng-model="vc.data.subject"
                        name="subject"
                        required
                        )
                    .flex-in(flex="none")
                        md-button.m-button.low(ng-click="vc.insertName('tmpSubject', vc.data, 'subject')") Name
                        //button.btn.btn-primary(ng-click="vc.insertName('tmpSubject', vc.data, 'subject')") Name

                div(flex="none" layout="row")
                    .flex-in(flex="25" flex-gt-sm="20" layout="row" layout-align="start center") Copy
                    .flex-in(flex)
                        input.bk-input(
                        placeholder="Copy"
                        type="email"
                        ng-model="vc.data.cc"
                        name="cc"
                        )

                div(flex layout="row")
                    .flex-in(flex="25" flex-gt-sm="20" layout="row" layout-align="start center") Message
                    .flex-in(flex)

                        keep-breaks-textarea.full-height(
                        id="'mailTemplateBody'"
                        placeholder="'Message'"
                        model="vc.data.body"
                        required="true"
                        )

                    .flex-in(flex="none")
                        md-button.m-button.low(ng-click="vc.insertName('mailTemplateBody', vc.data, 'body')") Name
                        //button.btn.btn-primary(ng-click="vc.insertName('mailTemplateBody', vc.data, 'body')") Name

        md-dialog-actions(flex="none" layout="row")
            md-button(ng-click="vc.cancel()") Cancel
            md-button(ng-click="vc.confirm()" ng-disabled="tmpform.$invalid") {{ vc.data._id ? 'UPDATE' : 'SAVE' }}
