.rp-wrap(layout="row" layout-align="center center")
    div(flex="45" ng-click="vc.isOpenFrom = true")
        span.rp-but {{ (vc.viewModel.from | date: 'dd/MM/yy') || 'From' }}
        div(style="width: 0; height: 0; overflow: hidden;")
            md-datepicker.no-mask(
            ng-model="vc.viewModel.from"
            md-is-open="vc.isOpenFrom"
            md-max-date="vc.viewModel.to"
            )
    div(flex="10" style="text-align: center") -
    div(flex="45" ng-click="vc.isOpenTo = true")
        span.rp-but {{ (vc.viewModel.to | date: 'dd/MM/yy') || 'To' }}
        div(style="width: 0; height: 0; overflow: hidden;")
            md-datepicker.no-mask(
                ng-model="vc.viewModel.to"
                md-is-open="vc.isOpenTo"
                md-min-date="vc.viewModel.from"
                )