.profile-cell-wrap
    div(layout="row")
        div(
            ng-if="vc.user.role !== 'guest'"
            flex="none"
            ui-sref="app.card.resume({id: vc.candidate._id})"
            layout="column"
            layout-align="center center"
            )
            .flex-in
                // TODO: automatically generate small avatars on the server
                .profile-cell-photo(
                    ng-style="{ backgroundImage: 'url(' + vc.candidate.photo.medium + ')' }"
                    )
        div(flex)
            .flex-in(style="padding-left: 10px;")
                .profile-cell-name(ui-sref="app.card.resume({id: vc.candidate._id})") {{ vc.candidate.first_name + ' ' + vc.candidate.last_name  }}
                .profile-cell-position(ng-if="vc.candidate.title") {{ vc.candidate.title }}
                tags-list(data="vc.candidate.skill_set")
                .profile-cell-controls
                    project-select(
                        style="margin-left: -3px"
                        user="vc.user"
                        model="vc.candidate.project"
                        projects="vc.projects"
                        hide-arr="true"
                        resume-id="vc.candidate._id"
                        event-name="'CANDIDATE_PROJECT_CHANGED'"
                        )
                    priority-select.pcm5(
                        user="vc.user"
                        model="vc.candidate.candidatePriority"
                        priorities="vc.priorities"
                        hide-arr="true"
                        resume-id="vc.candidate._id"
                        event-name="'CANDIDATE_PRIORITY_CHANGED'"
                        )
                    lang-select(
                        user="vc.user"
                        model="vc.candidate.englishLevel"
                        levels="vc.levels"
                        hide-arr="true"
                        resume-id="vc.candidate._id"
                        event-name="'CANDIDATE_LANG_CHANGED'"
                        )
                    //.profile-cell-date {{ vc.candidate.createdAt | date: 'MM/dd/yyyy' }}